$max-width-page: 1440px;
$primary-overlay: linear-gradient(180deg, rgba(22, 24, 30, 0) 0%, rgba(22, 24, 30, 0.7) 61.28%),
  linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
$primary-background-color: rgba(249, 249, 249, 0.2);
$primary-color-white: #f9f9f9;
$primary-color-yellow: #f8b319;
$color-white: #fff;
$color-black: #000;
