$max-width-page: 1440px;
$primary-overlay: linear-gradient(180deg, rgba(22, 24, 30, 0) 0%, rgba(22, 24, 30, 0.7) 61.28%),
  linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
$primary-background-color: rgba(249, 249, 249, 0.2);
$primary-color-white: #f9f9f9;
$primary-color-yellow: #f8b319;
$grey: #f9f9f9ab;
$grey-light: #f9f9f9b2;
$grey-light2: #aeafb2;
$grey-medium: #f9f9f91a;
$grey-dark: #21242d;


$easeInnOutCirc: cubic-bezier(0.68, -0.55, 0.265, 1.55);